<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Escolar - Home</title>
    <link rel="icon" href="/static/co_present.png">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <section class="bannerLogada">
            <section class="bannerLogada__title">
                <img src="/static/co_present.png" alt="">
                <h1 class="bannerLogada__conteudo">Verifique seus alunos</h1>
            </section>
            <section class="bannerAluno">
                <form action="" class="formAluno">
                    <label for="" class="formAluno__nome">Curso do Aluno</label>
                    <select class="formAluno__itens">
                        <option value="CC">Ciências da Computação</option>
                        <option value="SI">Sistemas de Informação</option>
                        <option value="IA">Inteligência Artificial</option>
                    </select>
                </form>
                <button type="submit" class="formulario__botao">Cadastrar novo aluno</button>
            </section>
        </section>
    </main>

    <a href="cadastro_aluno">cadastro</a>
</body>

</html>