<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Escolar</title>
    <link rel="icon" href="/static/co_present.png">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main>
        <form class="formularioPrincipal">
            <section class="formBanner">
                <img src="/static/co_present.png" alt="" class="formBanner_image">
                <h1 class="formBanner__title">Bem-vindo ao Sistema!</h1>
            </section>
            <section class="formButton">
                <a href="cadastro" class="formulario__botao">cadastro</a>
                <a href="login" class="formulario__botao">login</a>
            </section>            
        </form>
    </main>

</body>

</html>