<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Escolar</title>
    <link rel="icon" href="/static/co_present.png">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>

    </header>
    <main>
        <section class="formularioCadastro">
            <section class="formBanner__cadastro">
                <img src="/static/co_present.png" alt="" class="formBanner_image">
                <h1 class="formBanner__title">Página de Cadastro</h1>
            </section>
            <form action="{{ url_for('cadastrar_user') }}" method="post" class="formulario">
                <label class="formulario__titulo">E-mail do Docente:</label>
                <input name="email" type="email" class="formulario__email" placeholder="seumelhoremail" required>
                <label class="formulario__titulo">Senha do Docente:</label>
                <input name="senha" type="password" class="formulario__senha" placeholder="suasenha" required>
                <button type="submit" class="formulario__botao">Cadastre-se</button>
            </form>
        </section>
        
    </main>
</body>

</html>