<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Escolar - Login</title>
    <link rel="icon" href="/static/co_present.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section> 
        {% with messages = get_flashed_messages() %} 
        {% if messages %} 
        <ul id="messages" class="list-unstyled"> 
            {% for message in messages %} 
            <li class="alert alert-success">{{ message }}</li> 
            {% endfor %} 
        </ul> 
        {% endif %} 
        {% endwith %} 
    </section>
    <section class="formularioPrincipal">
        <section class="formBanner__cadastro">
            <img src="/static/co_present.png" alt="" class="formBanner_image">
            <h1 class="formBanner__title">Bem-vindo!</h1>
        </section>
     
        <form method="POST" action="{{ url_for('autenticar') }}" class="formulario">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('home') }}">
            <p class="formulario__dados"><label>Email</label> <input class="form-control" type="text" name="email" required></p>
            <p class="formulario__dados"><label>Senha</label> <input class="form-control" type="password" name="senha" required></p>
            <p><button type="submit" class="formulario__botao">Login</button></p>
        </form>
    </section>
</body>
</html>